extends ../layout/index
block contenido
  main.container.mt-5
    .row
      .col-md-5
        img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem aliquam quibusdam dolorem repellat iste quia? Eius, veritatis soluta! Libero quasi hic ab officia at quae, maxime tenetur amet ducimus voluptate.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ex dicta quasi exercitationem, animi iure ratione cupiditate esse, aperiam totam cum vitae inventore vel, cumque voluptates tempora repellendus alias! Nam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime, delectus voluptas esse eveniet soluta provident fugiat
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime, delectus voluptas esse eveniet soluta provident fugiat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam maxime, delectus voluptas esse eveniet soluta provident fugiat
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit voluptate sunt sapiente laborum alias assumenda beatae
        .col-md-4
          img(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit voluptate sunt sapiente laborum alias assumenda beatae
        .col-md-4
          img(src="img/icono_precios.svg", class="img-fluid mb-4")
          h2.mb-4 Mejor Precio
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, odit voluptate sunt sapiente laborum alias assumenda beatae